<!-- templates/tracker/add_training.html -->

{% extends "base.html" %}

{% block title %}Training Log {{ date }}{% endblock %}

{% block content %}
<h2>Training Log {{ date }}</h2>
<h5>Workouts</h5>
<ul>
{% for workout in workouts %}
    <li><a href="{% url 'viewer:view_workout' %}?id={{ workout.id }}">{{ workout }}</a></li>
{% endfor %}
</ul>
<h5>Notes</h5>
<ul>
{% for note in notes %}
    <li><a href="{% url 'viewer:view_note' %}?id={{ note.id }}">{{ note }}</a></li>
{% endfor %}
</ul>
<p><a href="{% url 'tracker:add_workout' %}?date={{ date }}" class="button">Add Workout</a></p>
<p><a href="{% url 'tracker:add_note' %}?date={{ date }}" class="button">Add Note</a></p>
{% endblock %}